flask
git+https://github.com/pogodevorg/pgoapi.git@299dd7cdca75ba44e0fb435ca7e813d8fab80717#egg=pgoapi
git+https://github.com/SenorKarlos/MrMime.git#egg=MrMime
cHaversine
beautifulsoup4
requests
psutil
configargparse
