flask
git+https://github.com/pogodevorg/pgoapi.git@533c37af3d6607edf170aeaab611dbe6f2bde2e8#egg=pgoapi
git+https://github.com/SenorKarlos/MrMime.git#egg=MrMime
cHaversine
beautifulsoup4
requests
psutil
configargparse
